{% include "header.html" %}

<section class="middle-container">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">

        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-5">

            <form method="post" class="d-flex justify-content-center align-items-center mb-4" action="{{url_for('edit_checklist_title', checklist_id=checklist.id)}}">
            <div class="text-center pt-3 pb-2">
              <div class="form-outline flex-fill">
                <input type="text" id="text" name="text" class="form-control form-control-lg" placeholder="{{checklist.text}}" required/>
              </div>
            </div>
              <button type="submit" class="btn-default" id="sendMessageButton">Save Changes</button>
            </form>

            {% for todo in checklist.todo: %}
            <ul class="list-group mb-0">
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2">
                <div class="d-flex align-items-center">
                  <a href="{{url_for('set_checkbox', todo_id=todo.id)}}" data-mdb-toggle="tooltip" title="Mark as completed">
                  <i class="fa-regular {{todo.checkbox}}"></i>
                </a>
                  {% if todo.checkbox == "fa-square-check": %}
                    <p style="text-decoration: line-through; margin: 0;">{{todo.text}}</p>
                  {% else: %}
                    <p style="text-decoration: none; margin: 0;">{{todo.text}}</p>
                  {% endif %}
                </div>
                <a href="" data-mdb-toggle="tooltip" title="Remove item">
                  <i class="fas fa-times text-primary"></i>
                </a>
              </li>
            </ul>
            {% endfor %}
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


{% include "footer.html" %}