  <!-- Footer -->
  <footer class="bottom-container" id="footer">
    <div>
      <a class="footer-icon" href="https://linkedin.com/in/elzbieta-skrzypek" data-mdb-toggle="tooltip" title="Linkedin"><i class="fa-brands fa-linkedin"></i></a>
      <a class="footer-icon" href="https://github.com/ElzbietaSkrzypek" data-mdb-toggle="tooltip" title="Github"><i class="fa-brands fa-github"></i></a>
<!--      <a class="footer-icon" href="" data-mdb-toggle="tooltip" title="Phone nr: 726223534"><i class="fa-solid fa-phone"></i></a>-->
<!--      <a class="footer-icon" href="" data-mdb-toggle="tooltip" title="Email: ejskrzypek@gmail.com"><i class="fa-solid fa-envelope"></i></a>-->
      <p class=owner>© 2023 Elżbieta Skrzypek</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static', filename='js/clean-blog.min.js')}}"></script>

</body>

</html>
