{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

  <!-- Task Content -->
  <section class="middle-container">
    <br>
    <br>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-14 col-xl-14">

        <div class="card mask-custom">
          <div class="card-body p-4">
            <div class="row">
              <div class="col">
                {% for author in task.author: %}
                <img class="collaboratorImage" src="{{ author.email | gravatar }}" title="{{author.name}}"/>
              {% endfor %}
                <a class="collaboratorImage" href="{{ url_for('add_collaborators', task_id=task.id) }}" data-mdb-toggle="tooltip" title="Add Collaborator"><i class="fa-solid fa-user-plus"></i></a>
              <br><p style="color: red; text-align: start;"> {{ message }}</p>
              </div>
            </div>
            <div class="text-center pt-3 pb-2">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp"
                alt="Check" width="60">
              <h2 class="my-4">{{task.text}}</h2>
              <a href="{{url_for('edit_task_title', task_id=task.id)}}" data-mdb-toggle="tooltip" title="Edit Task Title"><i class="fa-solid fa-pen"></i></a>
              <a href="{{ url_for('delete_task', task_id=task.id) }}" data-mdb-toggle="tooltip" title="Remove Task"><i
                        class="fas fa-trash-alt fa-lg text-warning"></i></a>
              <a href="{{ url_for('leave_collaborators', task_id=task.id) }}" data-mdb-toggle="tooltip" title="Leave Task"><i class="fa-solid fa-right-to-bracket"></i></a>
            </div>
            <!--            Add Subtask-->
            <form method="post" class="d-flex justify-content-center align-items-center mb-4" action="{{ url_for('add_subtask', task_id=task.id) }}">
              <div class="form-outline flex-fill">
                <input type="text" id="text" name="text" class="form-control form-control-lg" placeholder="Add Subtask" required/>
              </div>
                <button type="submit" class="btn-default">Add</button>
            </form>
            <div style="overflow-x: auto;">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Subtask</th>
                  <th scope="col">Status</th>
                  <th scope="col">Priority</th>
                  <th scope="col">Deadline</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
              {% for subtask in task.subtasks: %}
                <tr class="fw-normal">
                  <td class="align-middle">
                    <a class="subtask-text" href="{{ url_for('show_subtask', subtask_id=subtask.id) }}"><span>{{subtask.text|safe}}</span></a>
                  </td>
                  <td class="align-middle">
                    {% if subtask.status== "New": %}
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{subtask.status|safe}}
                    </button>
                    {% elif subtask.status== "In Progress": %}
                    <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{subtask.status|safe}}
                    </button>
                    {% elif subtask.status== "Completed": %}
                    <button id="btnGroupDrop1" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{subtask.status|safe}}
                    </button>
                    {% else: %}
                    <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{subtask.status|safe}}
                    </button>
                    {% endif %}
                      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="{{url_for('set_status_new', subtask_id=subtask.id)}}">New</a>
                        <a class="dropdown-item" href="{{url_for('set_status_inprogress', subtask_id=subtask.id)}}">In Progres</a>
                        <a class="dropdown-item" href="{{url_for('set_status_completed', subtask_id=subtask.id)}}">Completed</a>
                      </div>
                  </td>
                  <td class="align-middle">
                    {% if subtask.priority== "Low": %}
                    <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{subtask.priority|safe}}
                    </button>
                    {% elif subtask.priority== "Middle": %}
                    <button id="btnGroupDrop1" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{subtask.priority|safe}}
                    </button>
                    {% elif subtask.priority== "High": %}
                    <button id="btnGroupDrop1" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{subtask.priority|safe}}
                    </button>
                    {% else: %}
                    <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{subtask.priority|safe}}
                    </button>
                    {% endif %}
                      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="{{url_for('set_status_low', subtask_id=subtask.id)}}">Low</a>
                        <a class="dropdown-item" href="{{url_for('set_status_middle', subtask_id=subtask.id)}}">Middle</a>
                        <a class="dropdown-item" href="{{url_for('set_status_high', subtask_id=subtask.id)}}">High</a>
                      </div>
                  </td>
                  <td class="align-middle">
                    <form method="post" class="d-flex justify-content-center align-items-center mb-4"
                          action="{{ url_for('save_deadline', subtask_id=subtask.id) }}" novalidate>
                      <input type="date" id="deadline" name="deadline" value="{{subtask.deadline}}">
                        <button type="submit" data-mdb-toggle="tooltip" title="Save Deadline">
                        <i class="fa-solid fa-check"></i>
                        </button>
                    </form>
                  </td>
                  <td class="align-middle">
                    <a href="{{ url_for('show_subtask', subtask_id=subtask.id) }}" data-mdb-toggle="tooltip" title="Edit"><i class="fa-solid fa-pen"></i></a>
                    <a href="{{ url_for('delete_subtask', subtask_id=subtask.id, task_id=task.id) }}" data-mdb-toggle="tooltip" title="Remove"><i
                        class="fas fa-trash-alt fa-lg text-warning"></i></a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            </div>

            <br>
            <!--Comments Area -->
            <h3>Comments</h3>
            {% for comment in task.comments: %}
            <div class="row">
            <div class="col-11 comment">
              <ul class="commentList">
                <li>
                      <img class="commenterImage" src="{{ comment.comment_author.email | gravatar }}"/>
                      <div class="commentAutor">{{comment.comment_author.name}}</div>
                      <div class="commentText">{{comment.text|safe}}</div>
                </li>
              </ul>
            </div>
              <div class="col-1 comment">
                      <a href="{{ url_for('delete_comment', task_id=task.id, comment_id=comment.id) }}"
                         data-mdb-toggle="tooltip" title="Remove Comment">
                        <i class="fas fa-times text-primary"></i></a></div>
            </div>
            {% endfor %}
            <br>
            <br>
            {{ ckeditor.load() }}
            {{ ckeditor.config(name='body') }}
            {{ wtf.quick_form(form, novalidate=True) }}

          </div>
           <a class="btn-default" href="{{url_for('all_lists')}}">Save Task and back to All ToDo Lists</a>
        </div>

      </div>
    </div>
  </div>
</section>

{% include "footer.html" %}